@model DetailViewModel
<html>
<body>
    @using(@Html.BeginForm()){
        @Html.AntiForgeryToken()
        <h1>@Model.UserCompetence.Competence.Name</h1>
        @Html.HiddenFor(x => x.UserCompetence.Competence.Id)
        @Html.HiddenFor(x => x.UserCompetence.User.Id)
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(x => x.UserCompetence.Competence.Description)
                    </th>
                    <th>
                        @Html.LabelFor(x => x.CompetenceState)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(x => x.UserCompetence.Competence.Description)
                    </td>
                    <td>
                        <select asp-for="UserCompetence.State" asp-items="Html.GetEnumSelectList<BL.Enums.CompetenceState>()">
                        </select>
                    </td>
                </tr>                
            </tbody>
        </table>
        <input type="submit" value="Save" />

        <table style="margin-top: 30px; width:50%;" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(x => x.Resources)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var resource in Model.Resources)
                {
                    <tr>
                        <td>
                            <a href="@resource.Link">@resource.DisplayText</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <button onclick="location.href='@Url.Action("Index", "Home")'">Go Back</button>
</body>
</html>
