@model CompetenceViewModel
@functions {
    public string GetPinnedClass(int competenceId)
    {
        return Model.UserCompetences.FirstOrDefault(x => x.Competence.Id == competenceId)?.Pinned != true ? "far" : "fas";
    }
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<h1>Gemerkte Kompetenzen </h1>
<table>
    @foreach (var competenceArea in Model.CompetenceAreas)
    {
        foreach (var pinnedCompetence in Model.UserCompetences.Where(x => x.Pinned).Select(x => x.Competence))
        {
            <tr>
                <td onclick="location.href='@Url.Action("Details", "Home", new { id = pinnedCompetence.Id })'">@pinnedCompetence.Name</td>
                <td>
                    <i onclick="location.href='@Url.Action("InvertPinState", "Home", new { id = pinnedCompetence.Id })'"
                    class="@GetPinnedClass(pinnedCompetence.Id)">&#xf02e;</i>
                </td>
            </tr>
        }
    }
</table>

<h1>Alle Kompetenzen</h1>
<table>
    @foreach (var competenceArea in Model.CompetenceAreas)
    {
        <tr>
            <th>
                @competenceArea.Name
            </th>
        </tr>
        @foreach (var competenceLevel in competenceArea.Competences.GroupBy(x => x.Level).OrderBy(x => x.First().Level))
        {
            <tr>
                <td>@competenceLevel.First().Level</td>
                @foreach (var competence in competenceLevel)
                {
                    <td onclick="location.href='@Url.Action("Details", "Home", new { id = competence.Id })'">@competence.Name</td>
                    <td>
                        <i onclick="location.href='@Url.Action("InvertPinState", "Home", new { id = competence.Id })'"
                        class="@GetPinnedClass(competence.Id)">&#xf02e;</i>
                    </td>
                }
            </tr>
        }

    }
</table>
